@font-face {
    font-family: "Font1";
    src: url("Assets/Fonts/BelweBdBTBold.ttf");
}


* {
  box-sizing: border-box;
}

html {
  min-height: 100vh;
  font-family: Font1;
  font-size:10px;
}

body {
  margin: 0;
  background-image: url("Assets/Images/dark-honeycomb.png")
}

.page-title {
  color: rgb(255, 207, 50);
  font-family: font1;
  font-weight: normal;
  text-align: center;
  font-size: 60px;
}

.difficulties {
  color: rgb(255, 207, 50);
  font-family: font1;
  font-weight: normal;
  text-align: center;
  font-size: 30px;

}
a {
  text-decoration: none;
  color: rgb(255, 207, 50);
}
/* svaki element zauzima jednu kolonu */
.game-info-container {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
}

.game-info {
  color: rgb(255, 207, 50);
  font-size: 4em;
}

/* Broj kartica u redu je definisan preko display:grid, broj se razlikuje u zavisnosti od odabrane tezine igre*/

.game-container-easy{
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
  justify-content: center;
}
.game-container-medium{
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-gap: 10px;
  justify-content: center;
}

.game-container-hard{
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(8, auto);
  grid-gap: 10px;
  justify-content: center;
}

.card {
  position: relative;
  height: 150px;
  width: 100px;
}
/* ponasanje prednje strane kartica i pozadine */ 
.card-face {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: transform 500ms ease-in-out;
  backface-visibility: hidden;
}

.card.visible .card-back {
  transform: rotateY(-180deg); 
}

.card.visible .card-front {
  transform: rotateY(0); 
}


.card-back:hover{
  
  box-shadow: 0px 0px 5px 5px orange;
  
}


.card-front {
  transform: rotateY(180deg);
}

.overlay-text {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: none;
  position: fixed;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: rgb(255, 207, 50);;
  font-family: font1;
  transition: background-color 500ms, font-size 500ms;
}

.overlay-text-small {
  font-size: .3em;
}

.overlay-text.visible {
  display: flex;
  animation: overlay-grow 500ms forwards;
}

/* animacija za tri overlay elementa (start/win/loss) */ 

@keyframes overlay-grow {
  from {
    background-color: rgba(0, 0, 0, 0);
    font-size: 0;
  }
  to {
    background-color: rgba(0, 0, 0, .8);
    font-size: 10em;
  }
}
/* Za manje uredjaje se prikazuju po dve kartice u redu */ 
@media (max-width: 600px) {
  .game-container-easy {
    grid-template-columns: repeat(2, auto)
  }
  .game-container-medium {
    grid-template-columns: repeat(2, auto)
  }
  .game-container-hard {
    grid-template-columns: repeat(2, auto)
  }

  .game-info-container {
    flex-direction: column;
    align-items: center;
  }
}